<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-03-18T06:03:35Z</date>
	<key>WorkspacePath</key>
	<string>/Users/dirkvranckaert/Documents/app3/flutter_lib/open-mail-app-flutter/example/ios/Runner.xcworkspace</string>
</dict>
</plist>
